#board_title_info {
  width: 80%;
  height: 120px;
  margin: 70px 50px 40px 70px;
}

.pj_board_name {
  display: inline-block;
  color: rgb(193, 193, 193);
  margin-bottom: 20px;
  font-size: 0.8em;
  font-weight:bold;
}

.fav_ed_del{float: right; margin-top: 40px;}
#fav_icon {
  width: 12px;
  height: 12px;
}

.fav_label {
  position: relative;
  font-size: 12px;
  color: rgb(193, 193, 193);
  top: 1px;
}
.ed_del_dropdown_icon{margin-left: 190px;}
/* span: 인라인 요소라 size, margin 안먹히니 인라인 블록으로 변경 */

.board_info{min-width: 270px; width: 100%; height: 15.8em; border: 1px solid #7C00B6; border-radius: 5px; font-weight: 600; font-size: 13px;}
.board_info>span{display: inline-block; margin:12.5px 0px 10px 10px;}
#i_create, #i_reporter, #i_assign, #i_status{ float: right; padding-right: 10px;}
.board_info > hr{margin: 0;}
.create, .reporter, .assign, .status{margin:18px 0px 10px 10px;}


.board_desc{float: left; font-size: 20px; margin-left: 70px; }
.board_desc>span:nth-child(1){display: block; color: rgb(193, 193, 193); margin-bottom: 32px; font-size: 0.8em;}

.issue_content{min-width: 350px; width: 400px; letter-spacing: 0.7px; font-size: 13px;}

/*댓글 */

.comment-area{ clear: both;  width: 400px; margin: 50px 0px 0px 70px ;
box-sizing:borderbox; margin-left:70px;}
textarea.form-control {
	resize: none
}
.comment-write-area{height: 200px; } /*textarea부모요소 높이 지정 후 textarea % 지정*/
.comment-write-area-name {font-size: small;}
textarea.comment-write-area-text {width:100%; height:90%;border:1px solid black;} 
.re_sub_cancel{float: right; width:200px; display: flex;} /*flex로 하여 답글달기,취소 위아래로 붙는 것 방지 */
.re_submit{width: 85px; height: 27px; background-color: #7C00B6;
 border-style: none; border-radius: 3px; color: white; font-size: 13px;}
.re_cancel{width: 85px; height: 27px; background-color: white; border:1px solid #7C00B6; border-radius: 3px; color: #7C00B6; font-size: 13px;}
.re_submit:hover, .re_cancel:hover{
  cursor: pointer;
  opacity: 0.7;
  transition: 0.4s;
}
.comment-order{margin-top:10%;}
.comment-order-list, .comment-list{padding:0px}
.comment-order-list{margin-bottom:7%;}
.comment-order-list li{display:inline-block;}
.comment-order-list li+li{margin-left:5%;}
.re_submit + .re_cancel{margin-left: 10px;}
.usr_img{width:25px; height: 25px; display: inline-block;}
.comment-box{display:inline-block; padding-left:7px; }
.comment-info-box{display:inline-block; font-size:10px;}
.comment-tool{display:inline-block;}
.comment-nick-area { border-bottom: 1px solid #ccc; /* 아래쪽 선 스타일 */}
.comment-list-item.comment-list-item--reply.lev1{margin-left:30px;}
.comment-list-item.comment-list-item--reply.lev2{margin-left:60px;}
.comment-text-view{font-size:small; margin: 5px 0px;}
.comment-info-box:hover, .comment-tool:hover{text-decoration: none;} 
.comment-info-date{position:relative; top:-5px; padding-left:10px; zoom:0.8; font-size:10px; color:lightgray;}
.comment-nick-area{margin-bottom:28px;}



.btn-group-sm>.btn,
.btn-sm {padding: 2px 5px;font-size: 8px;}
.panel-default>.panel-heading {background-color: white;}

.ed_del_dropdown {
      position: relative;
      display: inline-block;
    }

    .ed_del-dropdown_item {
      display: none;
      top: 24px;
      right: -200px;
      width: 100px;
      height: 82px;
      border: 1px solid #7C00B6;
      background-color: white;
      border-radius: 3px;
      position: absolute;
      z-index: 2;
    }

    .ed_del-dropdown_item a {
      display: block;
      box-sizing: border-box;
      margin: 0px;
      padding: 10px 0px;
      border-radius: 3px;
      font-size: 14px;
      text-align: center;
      color: black;
      text-decoration: none;
    }

    .ed_del-dropdown_item a:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: #E9D2F4;
      transition: .5s;
    }

    .ed_del_dropdown:hover .ed_del-dropdown_item {
      display: block;
      margin-right: 200px;
      animation: slide .3s linear;
    }

    @keyframes slide {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }