@charset "UTF-8";

#issue_modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  width: 50em;
  height: 30em;
  overflow: auto;
  z-index: 10000;
  background-color: white;
  padding: 20px;
  animation: slide_fade 0.35s linear;
}

#modal_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
/* #issue_modal {
 
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  width: 50em;
  height: 30em;
  overflow: auto;
} */
#issue_content{
  width: 600px;
  margin: 0 auto;
}

@keyframes slide_fade {
  0% { opacity: 0; margin-top: -40px; }
  100% { opacity: 1; margin-top: 0; }
}
#select_project, #select_issue_type, #issue_title, #issue_reporter, #issue_manager, #related_issue, #issue_status{
  width: 400px; height: 35px; 
  display: inline; 
  border: 1px solid rgb(208, 208, 208);
  border-radius: 3px;
}
#issue_content>p:first-child{width: 55px; margin-top: 40px; display: inline-block;}
#issue_content>p{width: 55px; margin-top: 30px; display: inline-block;}
/* #issue_content > p+#select_project, p+#select_issue_type, p+#issue_title{
  margin-left: 50px;
} */
#issue_title, #issue_reporter, #issue_manager, #related_issue{
  margin-left: 3.5em;
}

#select_project, #select_issue_type, #issue_manager, #issue_status{
  margin-left: 3.2em;
}
span[class=req]{color: red;}

#issue_btn{text-align: center;}
#issue_submit_btn{
  border-style: none;
  border-radius: 5px;
  background-color: rgb(116, 0, 137);
  color: white;
  width: 100px; height:40px; 
}

#close_modal_btn{
  border:1px solid rgb(116, 0, 137);
  border-radius: 5px;
  background-color: white;
  color: rgb(116, 0, 137);
  width: 100px; height:40px; 

}
#issue_submit_btn + #close_modal_btn{margin-left: 20px;}





