main{width: 100%; height: calc(100vh - 60px);}
@keyframes slide_fade {
	0%{opacity: 0; top: -15px;}
	100%{opacity:1; top:0px;}
}

.content {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  height: calc(100vh - 60px);
  overflow: auto;
  animation: slide_fade 0.8s linear;
}

.board-content {
  position: absolute;
  width: 90%;
  height: calc(100vh - 60px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* min-width:1000px; */
}