@charset "UTF-8";


body{margin: 0; min-width: 900px;}

@keyframes fade_in {
	0%{opacity: 0;}
	100%{opacity:1;}
}

a{text-decoration: none;}
.nav_bar{
  position:relative;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  padding: 0px 20px 0px 12px;
  box-shadow: 0px 0px 0.2em rgb(159, 159, 159);
  margin-bottom: 0px;
  animation: fade_in 0.7s linear;
  z-index: 2;
}
/* :root{--navbar-height: 60px;} */
li{list-style: none;}
.logo{width: 120px; height: 45px;}
.nav_icon{display: flex; margin-bottom:0px; margin-top:0px;}
.nav_icon > li{margin-right: 8px;}

.nav_img {
  width: 25px;
  height: 25px;
}

.header-search {
  width: 340px;
  height: 25px;
  border: 1.5px solid #bfbfbf;
  border-radius: 3px;
}

.header-search-btn {
  width: 80px;
  height: 30px;
  border-style: none;
  border-radius: 3px;
  color: white;
  background-color: #8D52A9;
  font-size:14px;
  text-align:center;
}

.header-search+.header-search-btn {
  margin-left: 20px;
}

.uicon-dropdown {
  position: relative;
  display: inline-block;
}

.uicon-dropdown:hover{cursor: pointer;}

.uicon-dropdown-item {
  display: none;
  right: -198px;
  width: 100px;
  height: 82px;
  border: 1.3px solid lightgrey;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  z-index: 2;
}

.uicon-dropdown-item a {
  display: block;
  box-sizing: border-box;
  margin: 0px;
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
  color: black;
  text-decoration:none;
}
.uicon-dropdown-item1{border-radius: 3px 3px 0px 0px;}
.uicon-dropdown-item2{border-radius: 0px 0px 3px 3px;}

.uicon-dropdown-item a:hover {
  cursor: pointer;
  background-color: #F2EFF3;
  transition:.4s;
}

/* .uicon-dropdown:hover .uicon-dropdown-item {
  display: block;
  margin-right: 200px;
} */


